[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.3"
gunicorn = "==20.1.0"
sqlalchemy = "==2.0.29"
faker = "==19.2.0"
pyodbc = "==5.1.0"
psycopg2-binary = "==2.9.9"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
